.container{
    width: 42px;
    height: 24px;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.icon{
font-size: 13px;
}
.ball{
    width: 16px;
    height: 16px;
    background-color:#53c28b ;
    border-radius: 50%;
    position: absolute;
}